<div class="container">
    <h1 class="text-center">Thêm Phim</h1>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <form [formGroup]="form" (ngSubmit)="handleAddMovie()">
                <mat-form-field>
                    <mat-label>Tên Phim</mat-label>
                    <input matInput formControlName="tenPhim">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bí Danh</mat-label>
                    <input matInput formControlName="biDanh">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Trailer</mat-label>
                    <input matInput formControlName="trailer">
                </mat-form-field>
                <!-- <mat-form-field>
                <mat-label>Hinh Anh</mat-label>
                <input matInput formControlName="hinhAnh">
            </mat-form-field> -->
                <div>
                    <button type="button" mat-raised-button color="primary" (click)="hinhAnh.click()">File</button>
                    <input hidden type="file" #hinhAnh (change)="handleChangeFile($event)">
                    <img *ngIf="imagePreview" [src]="imagePreview" width="40px" height="40px" />
                </div>
                <mat-form-field>
                    <mat-label>Mô Tả</mat-label>
                    <input matInput formControlName="moTa">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ngày Khởi Chiếu</mat-label>
                    <input matInput formControlName="ngayKhoiChieu">
                </mat-form-field>
                <button type="submit" mat-raised-button>Thêm Phim</button>
            </form>
        </div>
    </div>
</div>