<div class="container">
  <div *ngIf="loading" class="row">
    <div class="col-sm-12 text-center">
      <!-- TODO: <app-loading> -->
      Loading...
    </div>
  </div>

  <div *ngIf="error" class="row">
    <div class="col-sm-12 text-center">
      <!-- TODO: <app-error-message> -->
      {{error || "Something went wrong"}}
    </div>
  </div>

  <div *ngIf="movieList" class="row">
    <div *ngFor="let movie of movieList" class="col-sm-3">
      <div class="card">
        <img class="card-img-top" [src]="movie.hinhAnh" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ movie.tenPhim| uppercase }}</h4>
          <h4 class="card-title">{{ movie.tenPhim| lowercase }}</h4>
          <!-- pipe format theo % -->
          <p class="card-text">{{ 0.5 | percent }}</p>
          <!-- pipe format theo tiền tệ -->
          <p class="card-text">{{ 5000 | currency:"CAD" }}</p>

          <!-- pipe format datetime -->
          <p class="card-text">{{ movie.ngayKhoiChieu | date:"dd/MM/yyyy hh:mm:ss" }}</p>

          <p class="card-text">{{ movie.moTa | shortcut:50}}</p>
          <button class="btn btn-success" routerLink="/movie/{{movie.maPhim}}">
            Chi tiết
          </button>
        </div>
      </div>
    </div>
  </div>
</div>